<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>x-y-t</title>
	
</head>
<body style="text-align:center">
	<img src="/images/logo.png"> <br>
	
	
	<br><br><br>
	Welcome to x-y-t.com ! <br>
	
	Under Construction! 
	
	网站备案中 ....  <br><br>
	
	contact email: info .at. x-y-t.com
</body>