<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{{ site.com }}</title>
	<meta name="keywords" content="呼叫中心 软交换 解决方案 VoIP SIP FreeSWITCH OLA软交换系统 OLA Soft Switch 指挥调度系统 应急指挥" />
	<link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" title="default" charset="utf-8">
	<link href="/css/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" charset="utf-8" src="/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/js/facebox.js"></script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23494895-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();


	jQuery(document).ready(function($) {
	  	$('a[rel*=facebox]').facebox()
	})

	</script>

</head>
<body>

<div id="wrapper">
	<div id="page">
		<div id="content">
			{{ content }}
		</div>
	</div>
	<div class="footer">
		版权所有 &copy; 2010-2013. 北京信悦通科技有限公司 保留所有权利. |
		Copyright &copy; 2010-2013. Beijing XinYueTong Co., Ltd. All rights reserved.
	</div>
</body>
