<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="FreeSWITCH培训 小樱桃" />
	<meta name="description" content="{{ site.com }}" />
	<title>{{ page.title }} - {{ site.com }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="/feed.xml" rel="alternate" title="{{ site.com }}" type="application/rss+xml" />
	<link href="/atom.xml" rel="alternate" title="{{ site.com }}" type="application/atom+xml" />
	<link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
	<link href="/assets/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
	<style type="text/css">
		body {
			/*padding-top: 60px;*/
			padding-bottom: 40px;
		}
		h1,h2 {
			margin-bottom: 20px !important;
		}

		li.post_list {
			display: block;
			margin-right: 15pt;
			margin-bottom: 10pt;
			padding: 5pt;
			float: left;
			border: 1px solid #999999;
			width: 260px;
		}
	</style>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le fav and touch icons -->
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">
	<!-- Navbar ================================================== -->
	<div class="navbar navbar-fixed-top">
		<div class="xnavbar-inner">
			<div class="container-fluid">
				<div class="span12">
					<br>
					<a href="/" style="float:right">返回首页</a>
				</div> <!-- span12 -->
			</div>
		</div><!--navbar-inner-->
	</div>
	<!-- container -->
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				{{ content }}
			</div>
		</div>

	</div>

	<br style="clear:both"/>

	<footer>


		<div style="text-align:center">

		Copyright &copy; 烟台小樱桃.
		版权所有 &copy; 2016-2017. www.x-y-t.cn
		<br>
	</div>
	</footer>

	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-6189983-5']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>

</div>

	<!-- Le javascript ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- Load JQuery -->
	<script src="/assets/javascripts/libs/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
	<!-- Load Bootstrap -->
	<script src="/assets/javascripts/libs/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<!-- Load Bootstrap Plugins-->
	<!-- Load Backbone -->
	<script src="/assets/javascripts/libs/underscore.js" type="text/javascript" charset="utf-8"></script>
	<!-- // <script src="/assets/javascripts/libs/backbone.js" type="text/javascript" charset="utf-8"></script> -->
	<!-- // <script src="/assets/javascripts/libs/rails.js" type="text/javascript" charset="utf-8"></script> -->

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b5c7421171f3161f0b86fb75a74725cd";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>
